<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary-template mb-0"
    >
      Portfolio
    </h2>
    <!-- Icon Divider-->
    <app-title [dark]="true"></app-title>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of items">
        <app-image-item [info]="item"></app-image-item>
      </div>
    </div>
  </div>
</section>
